---

---

<form name="submit-to-google-sheet" class="flex items-center gap-3">
  <input name="email" type="email" placeholder="email" required />
  <div class="grid min-w-[100px] place-items-center">
    <button type="submit" id="btn" class="bg-white px-3 text-black">Send</button
    >
  </div>
</form>
