---
export function getStaticPaths() {
  return [
    { params: { blog: 'clifford' } },
    { params: { blog: 'rover' } },
    { params: { blog: 'spot' } },
  ];
}

const { blog } = Astro.params;
---

<h1>{blog}</h1>
