/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 176 100% 100%;
    --foreground: 176, 20%, 40%;
    --card: 178, 49%, 95%;
    --card-foreground: 177, 20%, 20%;
    --popover: 192, 16%, 35%;
    --popover-foreground: 176 100% 100%;
    --primary: 176, 20%, 40%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 176 30% 90%;
    --secondary-foreground: 176, 20%, 40%;
    --muted: 138 30% 95%;
    --muted-foreground: 176 5% 40%;
    --accent: 176, 20%, 40%;
    --accent-foreground: 178, 49%, 10%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 176 5% 100%;
    --border: 176 30% 50%;
    --input: 176 30% 50%;
    --ring: 176 30% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 176 20% 20%;
    --foreground: 178, 49%, 95%;
    --card: 178, 49%, 10%;
    --card-foreground: 178, 49%, 95%;
    --popover: 176 50% 5%;
    --popover-foreground: 176 5% 100%;
    --primary: 0, 0%, 100%;
    --primary-foreground: 178, 49%, 95%;
    --secondary: 178, 49%, 95%;
    --secondary-foreground: 176 20% 20%;
    --muted: 138 30% 25%;
    --muted-foreground: 176 5% 86%;
    --accent: 178, 49%, 10%;
    --accent-foreground: 176 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 176 5% 100%;
    --border: 176 30% 50%;
    --input: 176 30% 50%;
    --ring: 176 30% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html {
  font-family: "Quicksand", sans-serif;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

/* LEFT SLIDE ANIMATION */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 0.3s ease-out;
}
/* RIGHT SLIDE ANIMATION */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 0.3s ease-out;
}

/* PROJECTS APPEAR ANIMATION */

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-appear {
  animation: appear 1s linear;
}

/* PROJECTS SLIDE ANIMATION */

@keyframes slide {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-137%);
  }
}
/* stop animation on hover */
.project:hover .animate-slide {
  animation-play-state: paused;
}

.animate-slide {
  animation: slide 25s linear infinite;
}
