---
import { Image } from 'astro:assets';

export type Props = {
  img: string;
};

const { img } = Astro.props;
---

<div class="slide-in-right order-first max-w-[600px] lg:order-last">
  <Image
    src={img}
    width="550"
    height="310"
    alt="About"
    class="mx-auto aspect-square h-full overflow-hidden rounded-xl object-cover object-top opacity-70 duration-1000 hover:opacity-100 sm:w-full"
  />
</div>
