---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import Layout from '../layouts/Layout.astro';
import FaceImg from '@/components/face-img.astro';

const pageTitle = 'About';
---

<Layout title={pageTitle} description={`${pageTitle} page`}>
  <section class="grid w-full place-items-center pb-5">
    <MaxWidthWrapper className="grid lg:grid-cols-[1fr_500px]">
      <div
        class="slide-in-left mx-auto flex max-w-[600px] flex-col justify-end space-y-4">
        <h1
          class="text-center text-4xl font-bold tracking-tighter text-primary sm:block sm:text-5xl lg:text-start xl:text-6xl">
          About Me
        </h1>
        <p class="text-muted-foreground md:text-xl">
          I am a self-taught developer who believes that the key skill for any
          developer is not just knowing many programming languages and
          technologies, but being able to learn new ones quickly and well. I
          love coding and I'm always working on improving my skills and staying
          up to date with new trends. I enjoy solving tough problems and working
          with others to build creative solutions.
        </p>
      </div>
      <div class="order-first lg:order-last">
        <FaceImg />
      </div>
    </MaxWidthWrapper>
  </section>
</Layout>
