---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import Layout from '../layouts/Layout.astro';
import FaceImg from '@/components/face-img.astro';

const pageTitle = 'About';
---

<Layout title={pageTitle} description={`${pageTitle} page`}>
  <section class="w-full py-12">
    <MaxWidthWrapper
      className="grid lg:grid-cols-[1fr_500px] xl:grid-cols-[1fr_600px]">
      <div
        class="slide-in-left mx-auto flex max-w-[600px] flex-col justify-center space-y-4">
        <h1
          class="text-4xl font-bold tracking-tighter text-primary sm:text-5xl xl:text-6xl">
          About Me
        </h1>
        <p class="text-foreground md:text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quae
          animi in unde numquam vel dignissimos veniam blanditiis corporis
          voluptatum tempore accusantium maiores dolor autem voluptates vitae,
          error cumque facilis?
        </p>
        <p class="text-foreground md:text-xl">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum
          excepturi enim quis voluptate deserunt quia error quibusdam mollitia
          neque officiis impedit eligendi facilis, vero odio commodi eos
          nesciunt expedita similique!
        </p>
      </div>
      <div class="order-first lg:order-last">
        <FaceImg />
      </div>
    </MaxWidthWrapper>
  </section>
</Layout>
