---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import Layout from '../layouts/Layout.astro';
import BrainImg from '@/components/BrainImg.astro';
const pageTitle = 'About';
---

<Layout title={pageTitle} description={`${pageTitle} page`}>
  <div class="flex w-full flex-col">
    <section class="w-full py-12">
      <MaxWidthWrapper>
        <div
          class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
          <div class="slide-in-left flex flex-col justify-center space-y-4">
            <div class="space-y-2">
              <h1
                class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
                About Me
              </h1>
              <p class="max-w-[600px] text-foreground md:text-xl">
                Acme Software is a leading provider of innovative software
                solutions. Our mission is to empower businesses with
                cutting-edge technology that drives efficiency, productivity,
                and growth.
              </p>
              <p class="max-w-[600px] text-foreground md:text-xl">
                At the heart of our company are our core values: innovation,
                integrity, and customer-centricity. We are committed to
                delivering exceptional products and services that exceed our
                clients' expectations.
              </p>
            </div>
          </div>
          <BrainImg />
        </div>
      </MaxWidthWrapper>
    </section>
  </div>
</Layout>
