---
import Layout from '../layouts/Layout.astro';
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import FaceImg from '@/components/face-img.astro';
import Socials from '@/components/socials.astro';
const pageTitle = 'Contact';
---

<Layout title={pageTitle} description={`${pageTitle} page`}>
  <section class="grid w-full place-items-center overflow-x-hidden">
    <MaxWidthWrapper
      className="grid place-items-center items-center lg:grid-cols-[500px_1fr] lg:px-32">
      <FaceImg />

      <div class="slide-in-right w-[min(400px,100%)] space-y-4 sm:w-[400px]">
        <div
          class="flex flex-col items-center justify-center space-y-2 text-center">
          <h1
            class="text-4xl font-bold tracking-tighter text-primary sm:text-5xl xl:text-6xl">
            Contact
          </h1>
          <p class="max-w-[600px] text-muted-foreground sm:text-xl">
            Are You Interested In Collaboration?<br /> Let's Get In Touch!
          </p>
        </div>

        <Socials className="lg:scale-150" />
      </div>
    </MaxWidthWrapper>
  </section>
</Layout>
