---
import FaceImg from '@/components/face-img.astro';
import Layout from '../layouts/Layout.astro';

import BrainImg from '@/components/BrainImg.astro';
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import { buttonVariants } from '@/components/ui/button';
import LinkBtn from '@/components/ui/link-arrow';
import { ArrowDown } from 'lucide-react';

const pageTitle = 'Home';
---

<Layout title={pageTitle} description={`${pageTitle} page`}>
  <section class="flex w-full items-center justify-center">
    <MaxWidthWrapper
      className="grid lg:grid-cols-[350px_1fr] lg:gap-12 xl:grid-cols-[500px_1fr]">
      <FaceImg />
      <div
        class="slide-in-right flex flex-col items-center justify-center space-y-5 text-center lg:items-start lg:text-start">
        <div class="space-y-4">
          <h1
            class="text-4xl font-bold tracking-tighter text-primary sm:text-5xl xl:text-6xl">
            Hi,
            <br class="hidden lg:block" />
            My Name is Rostyslav
          </h1>
          <p class="max-w-[600px] text-muted-foreground md:text-xl">
            I am a Web Developer who is currently based in Warsaw, Poland.
          </p>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <LinkBtn
            href="/portfolio/"
            variant="default"
            size="lg"
            arrowPosition="right">
            My Portfolio
          </LinkBtn>
          <a
            href="/imgs/resume.pdf"
            download="resume.pdf"
            class:list={[
              buttonVariants({ variant: 'outline', size: 'lg' }),
              'group relative hover:bg-card',
            ]}>
            <div class="relative mr-3 w-6">
              <ArrowDown
                className="mr-3 w-full -translate-y-1 transition-transform duration-300 group-hover:translate-y-0"
                size={20}
              />
              <span
                class="absolute bottom-0 left-0 h-2 w-full border-2 border-t-0 border-foreground"
              ></span>
            </div>
            Resume
          </a>
        </div>
      </div>
    </MaxWidthWrapper>
  </section>
</Layout>
