---
import Layout from '../layouts/Layout.astro';

import BrainImg from '@/components/BrainImg.astro';
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import { buttonVariants } from '@/components/ui/button';
import LinkBtn from '@/components/ui/link-arrow';
import { ArrowDown, ArrowRight } from 'lucide-react';

const pageTitle = 'Home';
---

<Layout title={pageTitle} description={`${pageTitle} page`}>
  <section class="flex w-full items-center justify-center">
    <MaxWidthWrapper
      className="grid gap-6 lg:grid-cols-[1fr_350px] lg:gap-12 xl:grid-cols-[1fr_500px]">
      <BrainImg />
      <div class="slide-in-left flex flex-col justify-center space-y-5">
        <div class="space-y-4">
          <h1
            class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
            Hi,
            <br />
            My Name is Rostyslav
          </h1>
          <p class="max-w-[600px] text-muted-foreground md:text-xl">
            I am a Web Developer who is currently based in Warsaw, Poland.
          </p>
        </div>
        <div class="flex flex-col gap-2 min-[400px]:flex-row">
          <LinkBtn
            href="/portfolio/"
            variant="default"
            size="lg"
            arrowPosition="right">
            My Portfolio
          </LinkBtn>
          <a
            href="#"
            class:list={[
              buttonVariants({ variant: 'outline', size: 'lg' }),
              'group relative',
            ]}>
            <ArrowDown
              className="mr-3 -translate-y-1 transition-transform duration-300 group-hover:translate-y-0"
              size={20}
            /> Resume
            <span
              class="absolute bottom-3 left-[30px] h-2 w-6 border-2 border-t-0 border-foreground"
            ></span>
          </a>
        </div>
      </div>
    </MaxWidthWrapper>
  </section>
</Layout>
