---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import Socials from './socials.astro';
---

<footer class="z-50 w-full bg-popover py-6 text-popover-foreground">
  <MaxWidthWrapper
    className="flex w-full flex-col items-center justify-between gap-2 sm:flex-row">
    <Socials />

    <p class="text-center text-sm md:text-right">
      &copy; {new Date().getFullYear()}. All rights reserved.
    </p>
  </MaxWidthWrapper>
</footer>
