---
import { cn } from '@/lib/utils';
import MaxWidthWrapper from './MaxWidthWrapper.astro';
import { ModeToggle } from '@/components/ModeToggle';
const pages = [
  { name: 'about', path: '/about/' },
  { name: 'portfolio', path: '/portfolio/' },
  { name: 'contact', path: '/contact/' },
];
---

<header
  class="sticky inset-x-0 top-0 z-50 w-screen text-foreground shadow shadow-accent backdrop-blur-[0.8px]">
  <MaxWidthWrapper>
    <div class="flex h-14 items-center justify-between">
      <a
        href="/"
        class="flex items-center font-[Quicksand] text-3xl font-semibold">RW</a
      >
      <nav>
        <ul class="flex gap-4">
          {
            pages.map(({ name, path }) => (
              <li
                class={cn(
                  'group flex flex-col items-start text-sm font-medium capitalize transition-colors',
                  {
                    'hidden lg:flex': name === 'contact',
                  }
                )}>
                <a href={path}>{name}</a>
                {/* underline */}
                <span
                  class:list={cn(
                    'h-0.5 w-0 rounded-full bg-foreground duration-500 group-hover:w-full',
                    {
                      'w-1/2':
                        Astro.url.pathname.replace(/\/$/, '') ===
                        path.replace(/\/$/, ''),
                    }
                  )}
                />
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="flex items-center gap-4">
        <ModeToggle client:load />
      </div>
    </div>
  </MaxWidthWrapper>
</header>
