---
import { Button } from '@/components/ui/button';
import MaxWidthWrapper from './MaxWidthWrapper.astro';
import { Github, Linkedin } from 'lucide-react';
import { ModeToggle } from '@/components/ModeToggle';
const pages = [
  { name: 'home', path: '/' },
  { name: 'about', path: '/about/' },
  { name: 'portfolio', path: '/portfolio/' },
  { name: 'blog', path: '/blog/' },
  { name: 'contact', path: '/contact/' },
];
---

<header
  class="fixed inset-x-0 top-0 z-50 w-screen bg-popover bg-slate-100 shadow-sm dark:bg-slate-800">
  <MaxWidthWrapper>
    <div class="flex h-14 items-center justify-between">
      <a href="/" class="flex items-center font-serif text-3xl"> RW</a>
      <nav>
        <ul class="hidden gap-4 md:flex">
          {
            pages.map(({ name, path }) => (
              <li>
                <a
                  href={path}
                  class:list={[
                    'flex items-center text-sm font-medium capitalize transition-colors',
                    {
                      'border-b-2 border-foreground':
                        Astro.url.pathname.replace(/\/$/, '') ===
                        path.replace(/\/$/, ''),
                    },
                  ]}>
                  {name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="flex items-center gap-4">
        <a href="https://www.linkedin.com/in/rostyslav-vozniak" target="_blank">
          <Linkedin className="cursor-pointer hover:animate-pulse" />
        </a>
        <a href="https://github.com/RostyslaWozniak" target="_blank">
          <Github
            className="cursor-pointer hover:animate-pulse"
            target="_blank"
          />
        </a>
        <div transition:name="theme">
          <ModeToggle client:load />
        </div>
      </div>
    </div>
  </MaxWidthWrapper>
</header>
