---
import { cn } from '@/lib/utils';
import MaxWidthWrapper from './MaxWidthWrapper.astro';
import { ModeToggle } from '@/components/ModeToggle';
import Logo from './ui/logo.astro';
const pages = [
  { name: 'about', path: '/about/' },
  { name: 'portfolio', path: '/portfolio/' },
  { name: 'contact', path: '/contact/' },
];
---

<header
  class="sticky inset-x-0 top-0 z-50 w-screen text-foreground shadow shadow-accent backdrop-blur-[0.8px]">
  <MaxWidthWrapper>
    <div class="flex h-14 items-center justify-between">
      <a
        href="/"
        class="flex h-full items-center py-2 font-[Quicksand] text-3xl font-semibold"
        ><Logo /></a
      >
      <nav>
        <ul class="flex translate-y-0.5 gap-4 lg:gap-6">
          {
            pages.map(({ name, path }) => (
              <li
                class={cn(
                  'group flex flex-col items-start border-b-2 border-b-transparent text-sm font-semibold capitalize transition-colors lg:text-base',
                  {
                    'border-b-primary':
                      Astro.url.pathname.replace(/\/$/, '') ===
                      path.replace(/\/$/, ''),
                  }
                )}>
                <a href={path}>{name}</a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="flex items-center gap-4">
        <ModeToggle client:load />
      </div>
    </div>
  </MaxWidthWrapper>
</header>
