---
import { Github, Globe, Linkedin, Mail } from 'lucide-react';

const socials = [
  {
    name: 'Github',
    url: 'https://github.com/RostyslaWozniak',
    icon: Github,
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/rostyslav-vozniak',
    icon: Linkedin,
  },
  {
    name: 'Email',
    url: 'mailto: rostyslav.vozniak.dev@gmail.com',
    icon: Mail,
  },
  {
    name: 'Website',
    url: 'https://rostyslavvozniak.com',
    icon: Globe,
  },
];

export type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div class:list={['flex items-center justify-center gap-4', className]}>
  {
    socials.map(({ name, url, icon: Icon }) => (
      <a href={url} target="_blank">
        <Icon className="cursor-pointer hover:opacity-70 duration-500 " />
        <span class="sr-only">{name}</span>
      </a>
    ))
  }
</div>
