---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import Layout from '@/layouts/Layout.astro';
import FaceImg from '@/components/face-img.astro';
import { Projects } from '@/components/Projects';

const pageTitle = 'Portfolio';
---

<Layout title={pageTitle} description={`${pageTitle} page`}>
  <section class="w-full overflow-x-hidden">
    <MaxWidthWrapper className="px-5 py-5 lg:px-20">
      <div class="grid pb-5 lg:grid-cols-[1fr_300px]">
        <div
          class="slide-in-left hidden flex-col items-start justify-center gap-2 sm:flex sm:items-center lg:items-start lg:justify-center">
          <h1
            class="text-4xl font-bold tracking-tighter text-primary sm:text-5xl xl:text-6xl">
            My {pageTitle}
          </h1>
        </div>

        <div class="order-first lg:order-last">
          <FaceImg />
        </div>
      </div>
      <Projects client:load />
    </MaxWidthWrapper>
  </section>
</Layout>
