---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import Layout from '@/layouts/Layout.astro';
import FaceImg from '@/components/face-img.astro';
import { Projects } from '@/components/Projects';

const pageTitle = 'Portfolio';
---

<Layout title={pageTitle} description={`${pageTitle} page`}>
  <section class="w-full overflow-x-hidden">
    <MaxWidthWrapper className="px-5 py-5 lg:px-20">
      <div class="grid pb-5 xl:grid-cols-[1fr_300px]">
        <h1
          class="hidden py-24 text-6xl font-bold tracking-tighter text-primary xl:block">
          My {pageTitle}
        </h1>

        <div class="order-first lg:order-last">
          <FaceImg />
        </div>
      </div>
      <Projects client:load />
    </MaxWidthWrapper>
  </section>
</Layout>
